@import "tailwindcss";

:root {
  --background: #ffe5d9;
  --foreground: #355070;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-bricolage-grotesque), sans-serif;

  --color-lino-blue: #355070;
  --color-lino-purple: #6D597A;
  --color-lino-pink: #B56576;
  --color-lino-red: #E5989B;
  --color-lino-orange: #EAAC8B;
  --color-lino-yellow: #ffe5d9;

  --radius-linoradius: 1rem;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-foreground tracking-tight;
}

h1 {
  @apply text-4xl mb-6;
}

h2 {
  @apply text-3xl mb-4 mt-8;
}

h3 {
  @apply text-2xl mb-3 mt-6;
}

h4 {
  @apply text-xl mb-2;
}

h5 {
  @apply text-lg mb-2;
}

h6 {
  @apply text-base mb-2;
}

p {
  @apply mb-4;
}

