@import "tailwindcss";

:root {
  --background: #EFD2C9;
  --foreground: #0D0A05;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-bricolage-grotesque), sans-serif;

  --color-lino-black: #0D0A05;
  --color-lino-black-soft: #2E281F;

  --color-lino-purple: #0F43B2;
  --color-lino-purple-soft: #84A5ED;

  --color-lino-pink: #A85080;
  --color-lino-pink-soft: #D183AE;

  --color-lino-pinkbaby: #EDA0B3;
  --color-lino-pinkbaby-soft: #FFD2DD;

  --color-lino-yellow: #EFD2C9;
  --color-lino-yellow-soft: #FFEEE9;
  

  --radius-bigradius: 0.8rem;
  --radius-littleradius: 0.6rem;

  --gap-lino: 1rem;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-foreground tracking-tight;
}

h1 {
  @apply text-4xl mb-6;
}

h2 {
  @apply text-3xl mb-4 mt-8;
}

h3 {
  @apply text-2xl mb-3 mt-6;
}

h4 {
  @apply text-xl mb-2;
}

h5 {
  @apply text-lg mb-2;
}

h6 {
  @apply text-base mb-2;
}

p {
  @apply mb-4;
}

